/* ---------------------------------------
   Navbar hover dropdown (desktop only)
---------------------------------------- */
@media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
