/* ---------------------------------------
   Navbar hover dropdown (desktop only)
---------------------------------------- */
@media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

/* Add separator line under navbar ONLY in dark mode */
html[data-bs-theme="dark"] .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

html[data-bs-theme="dark"] footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
